@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-header{
    background-image: url(https://img.freepik.com/free-photo/vintage-old-rustic-cutlery-dark_1220-4886.jpg?w=996&t=st=1697702979~exp=1697703579~hmac=00fc8a5f4fa17e2fae6a0065f687360914d29a97de97a1098c5d675df98394d1);
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-input{
    background: rgb(17,94,245);
background: linear-gradient(90deg, rgba(17,94,245,0.5013655120251226) 0%, rgba(183,183,244,1) 76%, rgba(237,248,250,1) 100%);
}

.bg-cart{
    background-image: url(https://img.freepik.com/free-photo/vegetables-set-left-black-slate_1220-685.jpg?w=1380&t=st=1697610359~exp=1697610959~hmac=3287c7648b65e749051bc19c791d8438a315f44a879ea2a47917ac4b3512e634);
    background-repeat: no-repeat;
    background-size: cover;
}